<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
  <h1 class="h3 mb-0 text-gray-800">Create New Board</h1>
  <%= link_to 'All Board', boards_url, class: 'btn btn-primary' %>
</div>
<%= render "form" %>